body {
	
	margin:auto 0px;
	
}

#content {
    width: 420px;
    text-align: left;
    padding-bottom: 48px;
	position:relative;
	 ;
}

.page-header {
	margin: 0;
    padding: 0;
    border-width:0;
	border-bottom: 1px solid #eee;
}

#content .page-header h1 {
    text-align: center;
    font-size: 24px;
    margin: 0 0 32px;
    padding-top: 10px;
	
}

#content .signin {
    position: relative;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.form-group {
    margin-bottom: 24px;
}



#content .btn.user {
    font-size: 16px;
    display: block;
    width: 100%;
    line-height: 28px;
}

#content .forgot {
    display: block;
    position: relative;
    margin-top: 20px;
    padding-top: 48px;
}

#content .left {
    position: absolute;
    left: 0;
    top: 0;
}

#content .checkbox {
    margin: 0;
}

.radio, .checkbox {
    display: block;
    min-height: 20px;
    padding-left: 20px;
}

#content .right {
    position: absolute;
    right: 0;
    top: 0;
}

a {
    color: #0E71EB;
    text-decoration: none;
}

.ride-line {
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 32px;
}

p {
    line-height: 1.5;
	margin: 0 0 10px;
}

.login-btn+.login-btn {
    margin-top: 8px;
}

.login-btn {
    display: block;
    border-radius: 8px;
    line-height: 38px;
    border: 1px solid #babacc;
    background-color: #fff;
    font-style: normal;
    font-weight: 700;
    padding: 0 8px 0 54px;
    color: #747487;
    position: relative;
}

element.style {
    text-align: center;
    color: #747487;
    font-size: 14px;
}

.mgt-xl {
    margin-top: 32px !important;
}

.pdt-md {
    padding-top: 16px !important;
}

.btn {
    border-radius: 8px;
    padding: 5px 16px;
}

.email-label, .password-label {
    margin-bottom: 4px;
    font-size: 14px;
    color: #747487;
}

input.form-control {
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    border-color: #babacc;
}

.form-control {
    color: #232333;
    border-radius: 8px;
    box-shadow: none;
}

.form-item-flex-wrap .position-button {
    position: absolute;
    right: 20px;
    border: 0;
    padding: 6px;
    background-color: transparent;
    box-sizing: border-box;
    text-align: right;
    font-size: 14px;
    line-height: 28px;
    outline: 0;
    z-index: 1;
    color: #747487;
    bottom:435;  	
}

.login-btn-google:before {
    background-image: url(google.png);
}

.login-btn-facebook:before {
    background-image: url(facebook.png);
}

.login-btn:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 11px;
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
}